<!DOCTYPE html>
<html>
<head>
  <title>Locomotion</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel='stylesheet' href='http://cdn2.crowdtap.com/assets/members/members-1.css' type='text/css' charset='utf-8'/>
  <link rel='stylesheet' href='http://cdn2.crowdtap.com/assets/members/members-2.css' type='text/css' charset='utf-8'/>
  <link rel='stylesheet' href='application.css' type='text/css' charset='utf-8' media='screen'/>
</head>
<body>

<%= yield %>
</body>
</html>
